includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        #- src/Assets
        #- src/Models
        #- src/Routes
        #- src/Repositories
        # - src/Console
        #- src/Controllers
        # - src/Services
        #- src/Facades
        #- src/Helpers
        - src
        #- tests

    # The level 8 is the highest level
    level: 4

    checkMissingIterableValueType: false
